@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

abbr.name{
	white-space: nowrap;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	text-indent: -1em;
	padding-left: 2em;
}

[epub|type~="z3998:letter"] header,
[epub|type~="z3998:letter"] footer{
	text-align: right;
}

[epub|type~="z3998:letter"] footer{
	margin-top: 1em;
}

.signature,
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

span[epub|type~="subtitle"]{
	display: block;
	font-weight: normal;
}
